<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
        <title>Meals Weekly</title>
    </head>
    <body>
        <a name="Top"></a>
        <div id="header-panel">
            <div class="navigation">
            <span id=title>Meals Weekly</span>
            <span id="nav-home"><a class="nav" href="home">Home</a></span>
            <span id="nav-form"><a class="nav" href="addmeal">Edit Meals</a></span>
            <span id="nav-list"><a class="nav" href="list">Shopping List</a></span>
            </div>
        </div>
            
        
        <div class="flex-container">
            <div id="addmeal">
                <form id="formSendMeals" name="sendmeals" method="post" action="/sendmeals">
                    <div id="titlepanel">
                        <select name="week" id="week">
                                <option value="Choose">Choose Week</option>
                                <%
                                    var list = '';
                                    for (i = 0; i < weeksArray.length; i++) {
                                    list += '<option value= "'+ weeksArray[i] + '"> '+ weeksArray[i] + '</option>';
                                    }
                                %>
                                <%- list %>
                        </select>
                        <select name="day" id="dayselect">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>    
                    </div>
                    <br>
                    <label for="breakfast">Breakfast:</label><br>
                    <input type="text" id="breakfast" name="breakfast"><br>
                    <label for="lunch">Lunch:</label><br>
                    <input type="text" id="lunch" name="lunch"><br><br>
                    <label for="dinner">Dinner:</label><br>
                    <input type="text" id="dinner" name="dinner"><br><br>
                    <input class="submitbutton" type="submit" value="Submit">
                    </form> 
            </div>
        </div>
        <div id="footer-panel">Created by Jonah Kavadlo</div>
    </body>
</html>
