<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
        <title><%= title %></title>
    </head>
    <body>
        <a name="Top"></a>
        <div id="header-panel">
            <div class="navigation">
            <span id=title><%= title %></span>
            <span id="nav-home"><a class="nav" href="home">Home</a></span>
            <span id="nav-list"><a class="nav" href="list">Shopping List</a></span>
            <span id="nav-form"><a class="nav" href="addmeal">Edit Meals</a></span>
        </div>
            </div>
                
            </div>
        </div>
        
        <div class="flex-container">
            <div id="titlepanel">
                <select name="week" id="week">
                        <option value="Choose">Choose Week</option>
                        <%
                            var list = '';
                            for (i = 0; i < weeksArray.length; i++) {
                            list += '<option value= "'+ weeksArray[i] + '"> '+ weeksArray[i] + '</option>';
                            }
                        %>
                        <%- list %>
                </select>    
                <h1><a name="pagetitle"></a>Shopping List</h1>
                <button id="addweek">Add Item</button>
            </div>
            <div id="shoppinglist">
                <div class="listitem">
                    <input type="checkbox" id="item1" name="item1" value="Flour">
                    <label for="item1">Flour</label><br>
                </div>
                <div class="listitem">
                        <input type="checkbox" id="item2" name="item2" value="Butter">
                        <label for="item2">Butter</label><br>
                </div>
                <div class="listitem">
                        <input type="checkbox" id="item3" name="item3" value="Sugar">
                        <label for="item3">Sugar</label><br>
                </div>
            </div>
        </div>
        <div id="footer-panel">Created by Jonah Kavadlo</div>
    </body>
</html>